:root {
    --lightBgcolor: #C5E4E7;
    --darkBgColor: #00474B;
/**color above is also used as input font color, and as well as :hover font color **/
    --inputColor: #F3F9FA;
 
    --labelFontColor: #5E7A7D;
    --customFontColor: #547878;
    --descFontColor: #7F9D9F;

    --activeColor: #26C2AE;
    /**above color is used as font color in calc section **/
    --hoverColor: #9FE8DF;
}

*, .attribution {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    box-sizing: border-box;
}

/* ----- typography ----- */
.inputContainer button, .inputContainer input {
    font-size: 24px;
}

label, .tip p {
    color: var(--labelFontColor);
}

.calcContainer p {
    color: white;
}

.calcContainer .description {
    color: var(--descFontColor);
}

.calcContainer .tipCalc, .calcContainer .totalCalc {
    color: var(--activeColor);
}

input, .resetButton {
    color: var(--darkBgColor);
}

.tipCalc, .totalCalc {
    font-size: 32px;
}

.resetButton { font-size: 20px;}

/* ----- buttons ----- */

.resetButton {
    background-color: var(--activeColor);
    border-radius: 5px;
    height: 48px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.resetButton.hasActive:active {
    background-color: var(--activeColor);
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.resetButton.hasHover:hover {
    background-color: var(--hoverColor);
    color: var(--darkBgColor);
    cursor: pointer;
    transition: all 0.25s ease-out;
}

li button:hover {
    background-color: var(--hoverColor);
    color: var(--darkBgColor);
    cursor: pointer;
    transition: all 0.25s ease-out;
}

ul button:active, ul button:focus {
    background-color: var(--activeColor);
    color: var(----darkBgColor);
    cursor: pointer;
    transition: all 0.25s ease-out;
}

/* -----general styling ----- */
body {
    background-color: var(--lightBgcolor);
}

.logo {
    margin: 0 auto;
    padding: 2.5rem 0;
}

main {
    background-color: white;
    border-radius: 25px 25px 0 0;
    padding: 2rem 1.5rem;
    width: 100%;
}

.billInput, .peopleInput {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 32px;
}

/* *************error text************** */
.pplLabel { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.invalidPpl {
    color: #E17457;
    display: none;
}
.invalidPpl.active {
    display: block;
}

.error {
    border-color: #E17457;
    border: 2px solid #E17457;
}

.billInput, .tip, .peopleInput {margin-bottom: 32px;}

.tip p {margin-bottom: 6px;}

input {
    border: none;
    border-radius: 5px;
    background-color: var(--inputColor);
    height: 48px;
    min-width: 311px;
    text-align: right;
    padding: 1rem;
    margin-top: 6px;
}

input:focus{
    border: 2px solid #26C2AE;
    outline: none;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    padding: 37px 23px;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 17px;
}

li button{
    width: 9rem;
    height: 3rem;
    border-radius: 5px;
    border: 0;
    background-color: var(--darkBgColor);
    color: white;
}

li input {
    min-width: 0;
    width: 9rem;
    color: var(--darkBgColor);
}

.tipAmount, .total {
    margin-bottom: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -----placeholder ----- */

::placeholder {
    color: #9EBBBD;
}

.billInput::after, .peopleInput::after {
    content: "";
    width: 9.84px;
    height: 15.46px;
    background-repeat: no-repeat;;
    position: absolute;
    top: 40px;
    left: 1rem;
}

.billInput::after { background-image: url(../images/icon-dollar.svg); }

.peopleInput::after { 
    width: 13px;
    background-image: url(../images/icon-person.svg); 
}


li ::placeholder {
    color: var(--customFontColor);
    text-align: center;
}

.calcContainer {
    background-color: var(--darkBgColor);
    border-radius: 15px;
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
    font-weight: 500;
    background-color: white;
    padding-bottom: 1rem;
    letter-spacing: -0.3px;
}

.attribution p a { 
    color: var(--darkBgColor);
    font-weight: 700; 
    text-decoration: none;
}

.attribution p a:hover { color: var(--activeColor); }

.attribution p a:active { color: var(--hoverColor); }

/* ---- JS CSS ----- */
.resetColors {
    background-color: #0D686D;
    color: #00474B;
    cursor: default;
}


/* ---- tablet ----- */

@media screen and (min-width: 550px) {
    main {
        padding: 2rem 7rem;
        width: 100%;
    }
}

/* -----desktop ----- */

@media screen and (min-width: 900px) {
    body {
        position: relative;
        display: grid;
        place-content: center;
    }
    main {
        padding: 2rem 3rem;
        border-radius: 25px;
        width: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        max-width: 920px;
        box-shadow: 0 32px 43px rgba(79,166, 175, 0.2);
    }

    .inputContainer {
        padding: .7rem 0;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px 14px;
    }

    li button, li input {
        width: 7.5rem;
    }

    .peopleInput { margin-bottom: 0;}

    .inputContainer { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .billInput, .tip {margin-bottom: 40px;}
    .tipCalc, .totalCalc {
        font-size: 48px;
    }

    .calcContainer{
        padding: 38px 38px;
        max-width: 413px;
        min-width: 50%;
    }
    
    .tipAmount {
        margin-bottom: 25px;
    }
    .total {
        margin-bottom: 122px;
    }

    .tipAmountLable, .totalLabel {
        margin-right: 6rem;
    }

    .attribution { 
        background-color: transparent;
        /* padding-bottom: 0;
        padding-top: 3rem; */
        position: absolute;
        padding: 0;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


